.advantages {
    padding-bottom: 47px;
  }
  
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .advantages__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
  
  
  .advantages__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--main-background-color);
    border-radius: 4px;
  }
  
  .advantages__title {
    @extend %uppercase;
    margin-bottom: 10px;
    color: var(--main-font-color);
  }
  
  .advantages__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
  }
  