.footer {
    padding: 60px 0;
    background-color: var(--secondary-background-color);
  }
  
  .footer__container {
    display: flex;
    align-items: baseline;
  }
  
  .logo-white {
    color: #FFFFFF;
  }
  
  .address {
    margin-top: 20px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  
  .main-contacts {
    display: block;
  }
  
  .main-contacts__item {
    margin-top: 9px;
  }
  
  .main-contacts__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #FFFFFF;
    }
  }
  
  .footer__social-box {
    margin-left: 70px;
  }
  
  .footer__title {
    @extend %uppercase;
    margin-bottom: 20px;
  }
  
  .social-list__link--dark-theme {
    fill: #ffffff;
    background-color:rgba(255, 255, 255, 0.1);
  }
  
  .footer__modal-box {
    margin-left: 93px;
  }
  
  .footer__modal-form {
    display: flex;
    align-items: center;
  }
  
  .footer__modal-lable {
    margin-right: 12px;
  }
  
  .footer__modal-input {
    height: 50px;
    width: 358px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: var(--accent-color);
      outline: none;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  .footer__subscribe-btn {
    display: flex;
    padding: 10px 28px;
  }
  
  .footer__subscribe-icon {
    margin-left: 10px;
    fill: #ffffff
  }