.filter-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .filter-list__item:not(:last-child) {
    margin-right: 8px;
  }
  
  .filter-list__btn {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--main-background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #FFFFFF;
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
    
  }

  .filter-list__btn--current {
    color: #FFFFFF;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .portfolio__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }

  .portfolio__link {
    display: block;
    color: inherit;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .product__thumb,
    &:focus .product__thumb {
      transform: translateY(0%);
    }
  }

  .product {
    position: relative;
    overflow: hidden;
  }

  .product__thumb {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0 24px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    overflow: hidden;
    background: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .product__description {
    font-size: 18px;
    line-height: 1,56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  
  .product__border {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
  }
  
  .product__name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  
  .product__type {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
  }
  