.modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  
  .modal-form__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .modal-form__field {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-font-color); 
  }
  
  .modal-form__input-wrapper {
    position: relative;
    display: block;
    margin-bottom: 10px;
    margin-top: 4px;
  }
  
  .modal-form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      outline: none;
      border-color: var(--accent-color);
    }
  }
  
  .modal-form__icon {
    position: absolute;
    display: block;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__input:focus + & {
      fill: var(--accent-color);
    }
  }
  
  .modal-form__textarea {
    width: 100%;
    height: 120px;
    resize: none;
    margin-top: 4px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      outline: none;
      border-color: var(--accent-color);
    }

    &::placeholder {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
    
  }
  
  .modal-form__policy-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 15px;
      margin-right: 8px;
      border-radius: 2px;
      border: 2px solid #212121;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-form__checkbox:checked + &::before {
      background-image: url(../images/checkbox.svg);
      background-repeat: no-repeat;
      background-color: var(--accent-color);
      background-position: center;
      border: none;
    }
  }
  
  .modal-form__policy-link {
    color: var(--accent-color);
  }
  
  .modal-form__btn {
    align-self: center;
    margin-top: 30px;
    padding: 10px 55px;
  }
  